@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app{
  height: 100%;
}

.like-module {
  cursor: pointer;
  z-index: 1;
  display: inline-block;
  margin: -1px 0;
  width: 80px;
  height: 80px;
  background: url(https://gw.alipayobjects.com/mdn/prod_resource/afts/img/A*eDsBTKcm1IcAAAAAAAAAAAAAARQnAQ) no-repeat 0 0;
  background-size: auto 80px;
}

.like-module.un-click:hover {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform-origin: 25px 67px;
}

@keyframes shake {
  25% {
    transform: rotate(6deg);
}
75% {
    transform: rotate(-6deg);
}
100% {
    transform: rotate(0);
}
}
